.basic-services {
	padding: 60px 0;

	&__wrapper {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
	}

	&__title {
		font-size: 28px;
		line-height: 48px;
		font-weight: 700;
		text-align: center;
		margin: 10px 0 40px 0;
	}

	&__text {
		font-size: 13.5px;
		font-weight: 600;
		line-height: 25px;
		color: #121127;
		text-align: center;
	}

	&__link {
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		color: #1b5773;
	}

	&__item {
		text-decoration: none;
		align-items: center;
		display: flex;
		justify-content: center;
		height: 200px;
		padding: 2px;
		width: 100%;
		flex-direction: column;
		background: rgba(252, 252, 252, 0.44);
		border-radius: 30px;
	}

	&__item:hover {
		-webkit-box-shadow: -1px 16px 45px 2px rgba(201, 229, 233, 0.79);
		-moz-box-shadow: -1px 16px 45px 2px rgba(201, 229, 233, 0.79);
		box-shadow: -1px 16px 45px 2px rgba(201, 229, 233, 0.79);
	}

	&__item:hover &__img_bg {
		background: #c359a6;
	}

	&__item:hover &__link {
		color: #c359a6;
	}

	&__img_bg {
		background: #1b5773;
		border-radius: 23.34px;
		padding: 10px;
		width: 96px;
		height: 96px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}

	&__link a {
		color: #1b5773;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
	}

	@media all and (max-width: 1400px) {
		&__wrapper {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media all and (max-width: 991px) {
		&__wrapper {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media all and (max-width: 780px) {
		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media all and (max-width: 600px) {
		padding: 30px 0;

		&__wrapper {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media all and (max-width: 475px) {
		padding: 20px 0;

		&__wrapper {
			grid-template-columns: repeat(1, 1fr);
		}

		&__title {
			font-size: 25px;
			line-height: 35px;
			margin: 10px 0 40px 0;
		}
	}
}
