.img-links {
	background: url("/local/templates/sm-new/img/back_blue.jpg");
	background-size: cover;
	margin: 40px 0;
	padding: 40px 0;

	&__items {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
	}

	&__item {
		width: 100%;
		min-height: 100px;
		padding-left: 30px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		background: #fff;
		-webkit-box-pack: space-between;
		-webkit-justify-content: space-between;
		-moz-box-pack: space-between;
		-ms-flex-pack: space-between;
		justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 10px;
		-webkit-box-shadow: 0 4px 4px -3px rgba(141, 141, 141, 0.2);
		-moz-box-shadow: 0 4px 4px -3px rgba(141, 141, 141, 0.2);
		box-shadow: 0 4px 4px -3px rgba(141, 141, 141, 0.2);
		color: inherit;
		text-decoration: none;
	}

	&__item:hover {
		background: #ae3d8d;
		color: white;
	}

	&__image img {
		width: auto;
		height: auto;
	}

	&__text {
		font-size: 18px;
		line-height: 22px;
	}

	@media all and (max-width: 1400px) {
		&__items {
			grid-template-columns: repeat(3, 1fr);
		}

		&__item {
			width: 100%;
		}
	}

	@media all and (max-width: 1200px) {
		&__item {
			width: 100%;
		}

		&__items {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media all and (max-width: 768px) {
		&__items {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	@media all and (max-width: 567px) {
		margin: 30px 0;
		padding: 30px 0;

		&__items {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
