.alphabet-list {
	margin: 30px 0;

	&__wrapper {
		margin: 30px 0;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 70px;
	}

	&__letter {
		width: 50px;
		height: 50px;
		background: #389dac;
		border-radius: 50px;
		min-width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 900;
		font-size: 28px;
		color: #fff;
		text-transform: capitalize;
		margin-bottom: 0;
	}

	&__disease {
		display: grid;
		gap: 20px 30px;
		grid-template-columns: repeat(6, max-content);
		grid-template-rows: auto;
		margin-left: 70px;
		align-items: center;
	}

	&__disease a {
		text-decoration: none;
		color: #1b5773;
		font-weight: 400;
		padding: 10px 20px;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.25px;
		border-radius: 50px;
		transition: background 0.2s, color 0.2s;

		&:hover {
			color: white;
			background: #389dac;
		}
	}

	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 120%;
		margin: 0 0 20px;

		@media all and (max-width: 768px) {
			font-size: 20px;
			margin: 0 0 15px;
		}
	}

	@media all and (max-width: 1024px) {
		&__disease {
			gap: 20px 0;
			grid-template-columns: repeat(4, 1fr);
			margin-left: 20px;
		}
	}

	@media all and (max-width: 768px) {
		&__item {
			flex-direction: column;
		}

		&__disease {
			grid-template-columns: repeat(1, 1fr);
		}

		&__disease {
			margin: 20px 0 0 0;
		}

		&__disease a {
			text-align: center;
		}
	}
}
