.pinc-privilege {
	padding-bottom: 40px;

	&__wrapper {
		background: #fbf0f8;
		padding: 30px 30px 30px 60px;
		border-radius: 20px;
		color: black;
		line-height: 20px;
	}

	&__image {
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		width: 100%;
		overflow: hidden;

		iframe {
			@media screen and (max-width: 768px) {
				height: auto;
				min-height: 450px;
			}
		}
	}

	&__img {
		margin: 30px 0;
	}

	&__image img {
		width: 100%;
		border-radius: 20px;
	}

	@media all and (max-width: 1024px) {
		&__wrapper {
			padding: 20px;
			line-height: 19px;
		}
	}
}
