
.callback-form {
	margin: 60px 0;
}

.callback-block {
	position: relative;
	background: #f3f7f8;
	padding: 50px 35px 35px 35px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin: 0 0 40px;
	-webkit-box-shadow: 0 8px 17px 8px rgba(56, 157, 172, 0.18);
	-moz-box-shadow: 0 8px 17px 8px rgba(56, 157, 172, 0.18);
	box-shadow: 0 8px 17px 8px rgba(56, 157, 172, 0.18);

	&__title {
		font-size: 30px;
		font-weight: bold;
		margin: 0 0 10px;
	}

	&__text {
		font-size: 16px;
	}

	&__form {
		margin-right: 300px;
	}

	&__image {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	&__footer {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0 0 30px;
	}

	@media all and (max-width: 1150px) {
		padding: 30px 20px;

		&__form {
			margin-right: 0;
		}

		&__image {
			display: none;
		}
	}

	@media all and (max-width: 768px) {
		margin: 0 0 30px;

		&__title {
			font-size: 20px;
		}

		&__text {
			font-size: 14px;
		}

		&__footer {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-moz-box-orient: vertical;
			-moz-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			padding-top: 20px;
		}
	}
}
