.submenu {
	position: absolute;
	left: -1px;
	z-index: 5;
	width: auto;
	min-width: 200px;
	visibility: hidden;
	opacity: 0;
	border-radius: 30px;
	transform: translateY(10px);
	transition: 0.3s ease-in-out;

	li {
		position: relative;
	}

	a {
		background: #fcfcfc;
		border-top: 1px solid #ecf1f2;
		text-align: left;
		font-size: 14px;
		letter-spacing: 1px;
		padding: 5px 20px;
	}

	@media all and (max-width: 1024px) {
		display: none;
	}
}
