<div class="heading-btn">
	<div class="container">
		<div class="heading-btn__wrap">
			<div class="heading-btn__title">
				<h1>{{ title }}</h1>
			</div>
			<div class="heading-btn__btn-wrapp">
				<div><a class="btn-appointment js-open-popup" data-toggle="modal" data-target=".modal-ask-question" href="">Задать вопрос</a></div>
				<div><a class="btn-appointment question js-open-popup" href="" data-target=".popup-form-feedback" data-analytics="OrderDoctor">Записаться на прием</a></div>
			</div>
		</div>
	</div>
</div>