span.btn,
button.btn,
a.btn,
.btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	height: 42px;
	line-height: 40px;
	padding: 0px 30px;
	background: #a03339;
	white-space: nowrap;
	text-align: center;
	font-size: 15px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	border: 0;
	font-weight: 600;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 1px solid #a03339;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
span.btn:hover,
button.btn:hover,
a.btn:hover,
.btn:hover {
	background: #662124;
}
span.btn i,
button.btn i,
a.btn i,
.btn i {
	margin: 0 10px 0 0px;
}
span.btn i,
span.btn span,
button.btn i,
button.btn span,
a.btn i,
a.btn span,
.btn i,
.btn span {
	display: block;
}
span.btn_snd,
button.btn_snd,
a.btn_snd,
.btn_snd {
	border: 1px solid #a03339;
	background: none;
	color: #a03339;
}
span.btn_snd:hover,
button.btn_snd:hover,
a.btn_snd:hover,
.btn_snd:hover {
	color: #fff;
	background: #a03339;
}
span.btn_blue,
button.btn_blue,
a.btn_blue,
.btn_blue {
	background: #1b5773;
	border-color: #1b5773;
	color: #fff;
}
span.btn_blue:hover,
button.btn_blue:hover,
a.btn_blue:hover,
.btn_blue:hover {
	background: #fff;
	color: #1b5773;
}
span.btn_big,
button.btn_big,
a.btn_big,
.btn_big {
	line-height: 50px;
	height: 52px;
	padding: 0 40px;
}
span.btn_small,
button.btn_small,
a.btn_small,
.btn_small {
	height: 32px;
	font-size: 16px;
	padding: 0 20px 0 12px;
}
.slick-arrow.arrow-style-prev,
.slick-arrow.arrow-style-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 40px;
	height: 80px;
	margin: -40px 0 0 0;
	background: none;
	border: 0;
	z-index: 1;
}
.slick-arrow.arrow-style-prev:before,
.slick-arrow.arrow-style-next:before {
	z-index: 1;
}
.slick-arrow.arrow-style-prev:after,
.slick-arrow.arrow-style-next:after {
	position: absolute;
	top: 0;
	width: 80px;
	height: 80px;
	background: #fff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	content: "";
}
.slick-arrow.arrow-style-prev.slick-disabled,
.slick-arrow.arrow-style-next.slick-disabled {
	opacity: 0.5;
}
.slick-arrow.arrow-style-prev {
	left: 0px;
}
.slick-arrow.arrow-style-prev:before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -18px;
	background: url("/local/templates/sm-new/build/prod/src/img/sprite.svg?v=1617871768277") 19.37984% 64.10256% no-repeat;
	width: 24px;
	height: 40px;
	content: "";
}
.slick-arrow.arrow-style-prev:after {
	right: 0;
}
.slick-arrow.arrow-style-next {
	right: 0px;
}
.slick-arrow.arrow-style-next:before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -6px;
	background: url("/local/templates/sm-new/build/prod/src/img/sprite.svg?v=1617871768277") 37.9845% 64.10256% no-repeat;
	width: 24px;
	height: 40px;
	content: "";
}
.slick-arrow.arrow-style-next:after {
	left: 0;
}
.slick-arrow .style-dots {
	padding: 30px 0 0;
}
.slick-arrow .style-dots ul {
	text-align: center;
}
.slick-arrow .style-dots li {
	display: inline-block;
	margin: 0 8px;
}
.slick-arrow .style-dots li.slick-active button {
	background: #a03339;
}
.slick-arrow .style-dots button {
	display: block;
	font-size: 0;
	border: 0;
	height: 10px;
	width: 10px;
	padding: 0;
	margin: 0;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: #dadada;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

.ui-datepicker {
	width: 17em;
	padding: 0.2em 0.2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 0.2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: 0.9em;
	border-collapse: collapse;
	margin: 0 0 0.4em;
}
.ui-datepicker th {
	padding: 0.7em 0.3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: 0.2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: 0.7em 0 0 0;
	padding: 0 0.2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: 0.5em 0.2em 0.4em;
	cursor: pointer;
	padding: 0.2em 0.6em 0.3em 0.6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto 0.4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: 0.5em;
	top: 0.3em;
}
a.ui-state-default {
	border: 1px solid #e8e8e8;
	background: #1b5773;
	color: #fff;
	padding: 4px 5px 4px 0px;
}
a.ui-state-default:hover {
	color: #fff;
	background: #25769c;
}
th.ui-datepicker-week-end {
	color: #f91c28;
}
a.ui-state-default.ui-state-active {
	background: #a03339;
	color: #fff;
}
.ui-datepicker-calendar td span.ui-state-default {
	border: 1px solid #e8e8e8;
	padding: 4px 5px 4px 0px;
}
.ui-datepicker {
	width: 270px;
	background: #fff;
	padding: 15px 8px 8px;
	border: 1px solid #a03339;
}
.ui-datepicker .ui-datepicker-next {
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-next span {
	position: relative;
	margin-left: 0;
	font-size: 0;
	width: 16px;
	height: 16px;
}
.ui-datepicker .ui-datepicker-next span:before {
	display: block;
	border-top: 8px solid transparent;
	border-left: 8px solid #333;
	border-right: 8px solid transparent;
	border-bottom: 8px solid transparent;
	width: 0px;
	height: 0px;
	content: "";
}
.ui-datepicker .ui-datepicker-next.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-datepicker-next-hover {
	right: 2px;
	top: 2px;
}
.ui-datepicker .ui-datepicker-prev {
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev span {
	position: relative;
	margin-right: 0;
	font-size: 0;
	width: 16px;
	height: 16px;
}
.ui-datepicker .ui-datepicker-prev span:before {
	display: block;
	border-top: 8px solid transparent;
	border-right: 8px solid #333;
	border-left: 8px solid transparent;
	border-bottom: 8px solid transparent;
	width: 0px;
	height: 0px;
	content: "";
}
.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover {
	left: 2px;
	top: 2px;
}

.form {
	font-size: 16px;
	line-height: 22px;
}
.form__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 50px;
}
.form__row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -20px;
	margin-right: -20px;
}
.form__row + .form__footnote {
	padding: 40px 0 0;
}
.form__cell {
	margin: 0 20px;
}
.form__cell_3 {
	width: 33.33%;
}
.form__cell_2 {
	width: 50%;
}
.form__input {
	display: block;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	font-family: inherit;
	line-height: 41px;
	height: 42px;
	color: #fff;
	background: none;
}
.form__input::-webkit-input-placeholder {
	opacity: 1;
	color: #fff;
}
.form__input:-moz-placeholder {
	opacity: 1;
	color: #fff;
}
.form__input:-ms-placeholder {
	opacity: 1;
	color: #fff;
}
.form__input::-moz-placeholder {
	opacity: 1;
	color: #fff;
}
.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover,
.form__input:-webkit-autofill:focus,
.form__input:-webkit-autofill:active {
	border: 0px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-text-fill-color: #ffffff;
	font-size: 16px;
	-webkit-box-shadow: 0 0 0px 1000px #1b5773 inset;
	-webkit-transition: background-color 0s ease-in-out 0s;
	-o-transition: background-color 0s ease-in-out 0s;
	-moz-transition: background-color 0s ease-in-out 0s;
	transition: background-color 0s ease-in-out 0s;
}
.form__input.error {
	border-bottom: 1px solid red;
}
.form__select {
	position: relative;
}
.form__select select {
	display: block;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	font-family: inherit;
	line-height: 41px;
	height: 42px;
	color: #fff;
	background: none;
}
.form__select option {
	display: block;
	background: #fff;
	color: #1b5773;
	padding: 3px 10px;
	border: 0;
}
.form__select:before {
	position: absolute;
	top: 50%;
	right: 10px;
	margin: -6px 0 0 0;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	width: 6px;
	height: 6px;
	content: "";
}
.form__footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.form__submit {
	width: 200px;
	margin-right: 30px;
}
.form__left {
	width: 40%;
}
.form__right {
	width: 60%;
	padding-left: 40px;
}
.form__footnote {
	font-size: 11px;
}
.form__footnote a {
	color: inherit;
}
.form__loading {
	display: none;
	position: absolute;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 11;
}
.form__loading-bg {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 22px;
	font-weight: bold;
	width: 180px;
	height: 180px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: #fff;
	color: #1b5773;
	text-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 8px solid #a03339;
}
@media all and (max-width: 1024px) {
	.form__row {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.form__cell_2 {
		width: 100%;
	}
	.form__cell_3 {
		width: 100%;
		margin-bottom: 20px;
	}
	.form__row + .form__footnote {
		padding: 10px 0 0;
	}
}
@media all and (max-width: 768px) {
	.form__cell_2 {
		margin-bottom: 10px;
	}
	.form__box {
		display: block;
	}
	.form__left {
		width: 100%;
	}
	.form__right {
		width: 100%;
		padding-left: 0;
	}
}
@media all and (max-width: 480px) {
	.form__box {
		margin: 0 0 30px;
	}
	.form__submit {
		width: 100%;
		margin: 0 0 20px;
	}
	.form__footer {
		display: block;
	}
}
.grid-col-2 {
	width: 50%;
}
.grid {
	width: 100%;
	margin: 0 auto;
}
.grid__items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.grid__items_al-c {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
@media all and (max-width: 1024px) {
	.grid__items_al-c {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-moz-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}
@media all and (max-width: 1024px) {
	.grid__items {
		margin-left: 0;
		margin-right: 0;
	}
}
.grid__items.grid__items_2 {
	margin-left: 0;
	margin-right: 0;
}
.grid__items.grid__items_2 .grid__item {
	width: 48%;
	margin-left: 0;
	margin-right: 4%;
	margin-bottom: 30px;
}
.grid__items.grid__items_2 .grid__item:nth-child(2n) {
	margin-right: 0;
}
@media all and (max-width: 1200px) {
	.grid__items.grid__items_2 .grid__item {
		width: 49%;
		margin-right: 2%;
	}
}
@media all and (max-width: 1024px) {
	.grid__items.grid__items_2 .grid__item {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
.grid__items.grid__items_3 .grid__item {
	width: 30.3%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-bottom: 30px;
}
@media all and (max-width: 1024px) {
	.grid__items.grid__items_3 .grid__item {
		width: 48%;
		margin-left: 0;
		margin-right: 4%;
	}
	.grid__items.grid__items_3 .grid__item:nth-child(2n) {
		margin-right: 0;
	}
}
@media all and (max-width: 480px) {
	.grid__items.grid__items_3 .grid__item {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
.grid__items.grid__items_4 .grid__item {
	width: 22%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-bottom: 30px;
}
@media all and (max-width: 1024px) {
	.grid__items.grid__items_4 .grid__item {
		width: 48%;
		margin-left: 0;
		margin-right: 4%;
	}
	.grid__items.grid__items_4 .grid__item:nth-child(2n) {
		margin-right: 0;
	}
}
@media all and (max-width: 480px) {
	.grid__items.grid__items_4 .grid__item {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
.grid__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.pop-up-enabled .header {
	right: 16px;
}
@media all and (max-width: 1200px) {
	.pop-up-enabled .header {
		right: 0;
	}
}

span.kp-btn,
button.kp-btn,
a.kp-btn,
.kp-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	height: 42px;
	line-height: 40px;
	padding: 0px 30px;
	background: #a03339;
	white-space: nowrap;
	text-align: center;
	font-size: 16px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	border: 0;
	font-weight: 600;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 1px solid #a03339;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
span.kp-btn:focus,
span.kp-btn:hover,
button.kp-btn:focus,
button.kp-btn:hover,
a.kp-btn:focus,
a.kp-btn:hover,
.kp-btn:focus,
.kp-btn:hover {
	background: #662124;
	text-decoration: none;
	color: #fff;
	outline: none;
	outline-offset: 0;
}
span.kp-btn i,
button.kp-btn i,
a.kp-btn i,
.kp-btn i {
	margin: 0 10px 0 0px;
}
span.kp-btn i,
span.kp-btn span,
button.kp-btn i,
button.kp-btn span,
a.kp-btn i,
a.kp-btn span,
.kp-btn i,
.kp-btn span {
	display: block;
}
span.kp-btn_snd,
button.kp-btn_snd,
a.kp-btn_snd,
.kp-btn_snd {
	border: 1px solid #a03339;
	background: none;
	color: #a03339;
}
span.kp-btn_snd:focus,
span.kp-btn_snd:hover,
button.kp-btn_snd:focus,
button.kp-btn_snd:hover,
a.kp-btn_snd:focus,
a.kp-btn_snd:hover,
.kp-btn_snd:focus,
.kp-btn_snd:hover {
	color: #fff;
	background: #a03339;
	color: #a03339;
}
span.kp-btn_blue,
button.kp-btn_blue,
a.kp-btn_blue,
.kp-btn_blue {
	background: #1b5773;
	border-color: #1b5773;
	color: #fff;
}
span.kp-btn_blue:focus,
span.kp-btn_blue:hover,
button.kp-btn_blue:focus,
button.kp-btn_blue:hover,
a.kp-btn_blue:focus,
a.kp-btn_blue:hover,
.kp-btn_blue:focus,
.kp-btn_blue:hover {
	background: #fff;
	color: #1b5773;
}
span.kp-btn_big,
button.kp-btn_big,
a.kp-btn_big,
.kp-btn_big {
	line-height: 50px;
	height: 52px;
	padding: 0 40px;
}
span.kp-btn_small,
button.kp-btn_small,
a.kp-btn_small,
.kp-btn_small {
	height: 32px;
	font-size: 16px;
	padding: 0 20px 0 12px;
}
.page-container {
	position: relative;
	max-width: 1230px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}
@media all and (max-width: 768px) {
	.page-container {
		padding: 0 10px;
	}
}
.page-container-inner {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}
.page-container-inner .h2 > span{
	font-size: 26px;
}
@media all and (max-width: 768px) {
	.page-container-inner {
		padding: 0 10px;
	}
	.page-container-inner .h2 > span{
		font-size: 20px;
	}
}
.bg-blue {
	background: -webkit-gradient(linear, left bottom, left top, from(#389dac), to(#389dac)), -webkit-gradient(linear, left top, right top, color-stop(34.97%, #78925c), color-stop(59.21%, rgba(120, 146, 92, 0)));
	background: -webkit-linear-gradient(bottom, #389dac, #389dac), -webkit-linear-gradient(left, #78925c 34.97%, rgba(120, 146, 92, 0) 59.21%);
	background: -moz- oldlinear-gradient(bottom, #389dac, #389dac), -moz- oldlinear-gradient(left, #78925c 34.97%, rgba(120, 146, 92, 0) 59.21%);
	background: -o-linear-gradient(bottom, #389dac, #389dac), -o-linear-gradient(left, #78925c 34.97%, rgba(120, 146, 92, 0) 59.21%);
	background: linear-gradient(0deg, #389dac, #389dac), linear-gradient(90deg, #78925c 34.97%, rgba(120, 146, 92, 0) 59.21%);
}
.bg-grey {
	background: #f3f7f8;
}
.bg-light {
	background: #f6f8f3;
}
.bg-d-blue {
	background: #1b5773;
}
.clr-red {
	color: #a03339;
}
.clr-blue {
	color: #1b5773;
}
.page-content {
	padding: 40px 0 0 0;
}
.f-italic {
	font-family: "PT Serif", Arial, sans-serif;
}
.headline {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0 30px;
}
.headline__title {
	margin-right: 20px;
}
.headline__title > * {
	font-size: 52px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.headline__buttons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.headline__buttons .kp-btn {
	min-width: 240px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.headline__buttons .kp-btn:last-child {
	margin-right: 0;
}
@media all and (max-width: 1100px) {
	.headline__title {
		padding: 0 0 5px;
	}
	.headline__title > * {
		font-size: 34px;
	}
}
.image-block-1 {
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	margin: 0 0 60px;
	height: 350px;
}
.image-block-1__text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	position: relative;
	z-index: 5;
	height: 350px;
	padding: 40px 0;
}
.image-block-1__title {
	font-size: 44px;
	line-height: 58px;
	font-weight: bold;
	padding: 20px 0;
}
.image-block-1__subtitle {
	font-size: 30px;
	line-height: 36px;
	font-style: italic;
	padding: 20px 0;
}
.image-block-1__image {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.image-block-1__image img {
	display: block;
	max-width: none;
}
@media all and (max-width: 1100px) {
	.image-block-1__title {
		font-size: 34px;
		line-height: 42px;
	}
	.image-block-1__subtitle {
		font-size: 22px;
		line-height: 24px;
	}
	.image-block-1__text {
		min-height: 260px;
		height: 350px;
	}
	.image-block-1__image {
		height: 100%;
		width: auto;
		opacity: 0.25;
	}
}
@media all and (max-width: 480px) {
	.image-block-1__title {
		font-size: 28px;
		line-height: 38px;
	}
	.image-block-1__image {
		right: auto;
		left: -90px;
	}
	.image-block-1__image img {
		height: 350px;
		width: 683px;
	}
}
.kp-events {
	background: #f6f8f3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 20px 0 0;
	margin: 64px auto 30px;
	max-width: 1440px;
}
.kp-events__nav {
	padding: 0px 0 20px;
}
.kp-events__image {
	position: absolute;
	bottom: 0;
	right: 50px;
}
.kp-events__box {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.kp-events__left,
.kp-events__right {
	display: table-cell;
}
.kp-events__left {
	position: relative;
	width: 33.33%;
}
.kp-events__right {
	width: 66.66%;
}
@media all and (max-width: 1200px) {
	.kp-events__box {
		display: block;
	}
	.kp-events__left {
		display: none;
	}
	.kp-events__right {
		display: block;
		width: 100%;
	}
	.kp-events {
		margin: 10px auto 30px;

	}
}
.events-nav {
	width: 100%;
	display: block;
	padding: 0 0 15px;
	border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}
.events-nav .slick-track {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	margin: 0 !important;
}
.events-nav .slick-slide {
	height: inherit !important;
}
.events-nav .slick-slide .events-nav__card {
	width: 180px;
	height: 100%;
}
.events-nav__left {
	position: relative;
	padding: 0 0 15px;
	white-space: nowrap;
}
.events-nav__right {
	position: relative;
}
.events-nav__title {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}
.events-nav__card {
	padding: 10px;
	background: #fff;
	border: 1px solid #e0e9ea;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}
.events-nav .slick-current .events-nav__card {
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.events-nav .slick-current .events-nav__date {
	color: #a03339;
}
.events-nav .slick-current .events-nav__text {
	color: #000;
}
.events-nav__slide {
	padding: 0 0 10px;
}
.events-nav__slide.slick-slide {
	padding-left: 5px;
	padding-right: 5px;
}
.events-nav__date {
	color: #000;
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 10px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}
.events-nav__text {
	color: #808183;
	font-size: 11px;
	line-height: 15px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}
.events-nav__text * {
	padding: 0;
	margin: 0;
}
.events-nav__arrows {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0px 0 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 50px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.events-nav__next,
.events-nav__prev {
	cursor: pointer;
	position: relative;
	width: 22px;
	height: 22px;
	display: none;
}
.events-nav__next:before,
.events-nav__prev:before {
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	margin-top: -8px;
	content: "";
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
.events-nav__next.slick-arrow,
.events-nav__prev.slick-arrow {
	display: block;
}
.events-nav__next.slick-arrow.slick-hidden,
.events-nav__prev.slick-arrow.slick-hidden {
	display: none;
}
.events-nav__prev.slick-disabled:before {
	border-right: 16px solid #7b7c7a;
}
.events-nav__prev:before {
	border-right: 16px solid #a03339;
}
.events-nav__next.slick-disabled:before {
	border-left: 16px solid #7b7c7a;
}
.events-nav__next:before {
	border-left: 16px solid #a03339;
}
@media all and (max-width: 1100px) {
	.events-nav {
		display: block;
	}
	.events-nav__left,
	.events-nav__right {
		display: block;
	}
	.events-nav__left {
		padding: 0 0 10px 5px;
	}
	.events-nav__arrows {
		margin-left: 5px;
	}
}
@media all and (max-width: 768px) {
	.events-nav__card {
		width: 100%;
	}
	.events-nav__right:before {
		display: none;
	}
}
.events-slider {
	font-size: 16px;
	line-height: 22px;
}
.events-slider__date {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	height: 70px;
	color: #a03339;
	font-size: 40px;
	line-height: 49px;
	font-family: "PT Serif", Arial, sans-serif;
	padding: 0 0 20px;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-moz-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin: 0 0 20px;
	white-space: nowrap;
}
.events-slider__date:before {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 4px;
	background: #dddfdb;
	content: "";
}
.events-slider__cost {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	height: 70px;
	font-family: "PT Serif", Arial, sans-serif;
	padding: 0 0 20px;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-moz-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin: 0 0 20px;
}
.events-slider__cost div {
	display: inline-block;
	background: #a03339;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 23px;
	line-height: 28px;
	padding: 7px 11px 8px;
}
.events-slider__cost:before {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 4px;
	background: #a03339;
	content: "";
}
.events-slider__cols {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;background-color:red;
}
.events-slider__col {
	width: 48%;
	padding: 0px 0 10px;
}
@media all and (max-width: 768px) {
	.events-slider__date {
		display: none;
	}
	.events-slider__cols {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.events-slider__col {
		width: 100%;
		padding: 0 0 10px;
	}
}
@media all and (max-width: 480px) {
	.events-slider__date {
		font-size: 28px;
	}
	.events-slider__cost div {
		font-size: 20px;
	}
	.events-slider__cost {
		height: 100%;
	}
}
.text-inline-block {
	margin: 0 0 50px;
	font-size: 16px;
	line-height: 22px;
}
.text-inline-block__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 5;
	justify-content: space-between;
}
.text-inline-block__box + .text-inline-block__box {
	padding: 50px 0 0;
}
.text-inline-block__left {
	width: 33.33%;
	display: flex;
	align-items: center;
}
.text-inline-block__right {
	width: 66.66%;
	color: #919586;
}
.text-inline-block__right_2 {
	width: 40%;
	display: flex;
	align-items: center;
}
.text-inline-block__image {
	/*position: absolute;
	right: 0;
	top: 0;
	z-index: 1;*/
}
@media all and (max-width: 1100px) {
	.text-inline-block__image {
		width: 200px;
		height: auto;
	}
}
@media all and (max-width: 768px) {
	.text-inline-block__box {
		display: block;
		text-align: center;
	}
	.text-inline-block__box + .text-inline-block__box {
		padding: 10px 0 0;
	}
	.text-inline-block__right,
	.text-inline-block__left {
		width: 100%;
		display: block;
		padding-top: 20px;
	}

}
.kp-about {
	margin: 0 0 50px;
	font-size: 16px;
	line-height: 22px;
	padding: 50px 0 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.kp-about__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 5;
	padding: 0 0 50px;
}
.kp-about__left {
	width: 33.33%;
	padding: 0 20px 0 0;
}
.kp-about__right {
	width: 66.66%;
}
.kp-about__images {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.kp-about__image {
	margin: 0 0 10px;
	width: 32%;
}
.kp-about__image img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
@media all and (max-width: 768px) {
	.kp-about {
		padding: 30px 0 20px;
	}
	.kp-about__box {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-bottom: 20px;
	}
	.kp-about__left,
	.kp-about__right {
		width: 100%;
		padding: 0;
	}
}
@media all and (max-width: 480px) {
	.kp-about__images {
		display: block;
	}
	.kp-about__image {
		width: 100%;
	}
}
.kp-advantages {
	color: #1b5773;
	padding: 110px 0 90px;
	margin: 0 0 80px;
}
.kp-advantages__num {
	font-size: 200px;
	line-height: 26px;
	margin-right: 20px;
}
.kp-advantages__title {
	font-size: 40px;
	line-height: 50px;
}
.kp-advantages__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.kp-advantages__left {
	position: relative;
	top: -15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 40%;
}
.kp-advantages__right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 60%;
	font-size: 16px;
	line-height: 22px;
}
.kp-advantages__col {
	width: 48%;
}
@media all and (max-width: 1100px) {
	.kp-advantages {
		padding: 50px 0 40px;
	}
	.kp-advantages__num {
		font-size: 120px;
		line-height: 100px;
	}
	.kp-advantages__left {
		top: 0;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-moz-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.kp-advantages__right {
		display: block;
		padding-left: 30px;
	}
	.kp-advantages__col {
		width: 100%;
	}
	.kp-advantages__title {
		font-size: 24px;
		line-height: 28px;
	}
}
@media all and (max-width: 768px) {
	.kp-advantages {
		padding: 30px 0 20px;
	}
	.kp-advantages__box {
		display: block;
	}
	.kp-advantages__right,
	.kp-advantages__left {
		width: 100%;
		padding-left: 0;
	}
	.kp-advantages__left {
		padding-bottom: 30px;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.kp-advantages__title br:last-child {
		display: none;
	}
}
.table-compare {
	margin: 0 0 50px;
}
.table-compare__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.table-compare__left {
	width: 35%;
}
.table-compare__right {
	width: 65%;
}
.table-compare__table {
	overflow: hidden;
}
.table-compare table th {
	background: #f3f7f8;
	font-size: 16px;
	line-height: 22px;
	color: #1b5773;
	padding: 20px 18px;
	vertical-align: top;
}
.table-compare table th:nth-child(1) {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
@media all and (max-width: 480px) {
	.table-compare table th:nth-child(1) {
		padding: 12px 10px;
		font-size: 13px;
	}
}
.table-compare table th:nth-child(1),
.table-compare table th:nth-child(2) {
	border-right: 40px solid #fff;
}
@media all and (max-width: 768px) {
	.table-compare table th:nth-child(1),
	.table-compare table th:nth-child(2) {
		border-right: 10px solid #fff;
	}
}
.table-compare table th:nth-child(2),
.table-compare table th:nth-child(3) {
	text-align: center;
}
@media all and (max-width: 480px) {
	.table-compare table th:nth-child(2),
	.table-compare table th:nth-child(3) {
		padding: 12px 2px;
		font-size: 13px;
	}
}
.table-compare table tr {
	position: relative;
}
.table-compare table tr:nth-child(2) td div {
	padding: 30px 0;
}
.table-compare table tr:nth-child(2) td div:before {
	display: none;
}
.table-compare table tr td div {
	position: relative;
	padding: 10px 0;
}
.table-compare table tr td div:before {
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	width: 1000px;
	background: #e5e5e5;
	content: "";
}
.table-compare table tr td:nth-child(1),
.table-compare table tr td:nth-child(2) {
	border-right: 40px solid #fff;
}
@media all and (max-width: 768px) {
	.table-compare table tr td:nth-child(1),
	.table-compare table tr td:nth-child(2) {
		border-right: 10px solid #fff;
	}
}
.table-compare table tr td:nth-child(1) {
	color: #868686;
	font-size: 16px;
	line-height: 28px;
}
@media all and (max-width: 480px) {
	.table-compare table tr td:nth-child(1) {
		font-size: 13px;
		line-height: 18px;
	}
}
.table-compare table tr td:nth-child(2),
.table-compare table tr td:nth-child(3) {
	text-align: center;
	background: #f3f7f8;
	font-size: 22px;
	line-height: 28px;
	color: #1b5773;
}
@media all and (max-width: 480px) {
	.table-compare table tr td:nth-child(2),
	.table-compare table tr td:nth-child(3) {
		font-size: 16px;
	}
}
.table-compare table tr td.fs {
	padding: 0 10px;
	font-size: 15px;
	line-height: normal;
}
@media all and (max-width: 480px) {
	.table-compare table tr td.fs {
		font-size: 13px;
	}
}
@media all and (max-width: 1100px) {
	.table-compare__box {
		display: block;
	}
	.table-compare__left {
		width: 100%;
	}
	.table-compare__left br {
		display: none;
	}
	.table-compare__right {
		width: 100%;
	}
}
@media all and (max-width: 480px) {
	.table-compare__table {
		margin-left: -10px;
		margin-right: -10px;
	}
}
.table-price {
	margin: 0 0 80px;
}
.table-price__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.table-price__left {
	width: 35%;
	padding: 0 80px 0 0;
}
.table-price__right {
	width: 65%;
}
.table-price__table {
	overflow: hidden;
}
.table-price__header {
	padding: 0 0 20px;
}
.table-price__title {
	font-size: 22px;
	line-height: 34px;
	color: #1b5773;
	padding: 0 0 30px;
}
.table-price__text {
	font-size: 16px;
	line-height: 22px;
	padding: 0 0 30px;
}
.table-price__table {
	padding: 0 0 35px;
}
.table-price table th {
	background: #f3f7f8;
	font-size: 16px;
	line-height: 22px;
	color: #1b5773;
	padding: 20px 18px;
	vertical-align: top;
}
.table-price table th:nth-child(1) {
	border-right: 10px solid #fff;
}
.table-price table th:nth-child(2) {
	width: 240px;
	text-align: center;
}
@media all and (max-width: 480px) {
	.table-price table th {
		font-size: 13px;
		padding: 12px 10px;
	}
}
.table-price table tr {
	position: relative;
}
.table-price table tr:nth-child(2) td {
	padding-top: 30px;
}
.table-price table tr td {
	font-size: 16px;
	line-height: 28px;
}
.table-price table tr td div {
	position: relative;
	padding: 15px 0;
}
.table-price table tr td div:before {
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	width: 1000px;
	background: #e5e5e5;
	content: "";
}
@media all and (max-width: 480px) {
	.table-price table tr td {
		font-size: 13px;
		line-height: 18px;
	}
}
.table-price table tr td:nth-child(1) {
	border-right: 10px solid #fff;
}
.table-price table tr td:nth-child(1) {
	color: #868686;
}
.table-price table tr td:nth-child(2) {
	text-align: center;
	background: #f3f7f8;
	color: #868686;
}
@media all and (max-width: 1100px) {
	.table-price__header {
		padding: 0;
	}
	.table-price__title {
		padding: 0 0 20px;
	}
	.table-price__box {
		display: block;
	}
	.table-price__left {
		width: 100%;
		padding-right: 0;
	}
	.table-price__left br {
		display: none;
	}
	.table-price__right {
		width: 100%;
	}
}
@media all and (max-width: 768px) {
	.table-price table th:nth-child(2) {
		width: auto;
		white-space: nowrap;
	}
}
.payments {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px;
	color: #000;
	font-size: 16px;
	line-height: 21px;
}
.payments img {
	display: block;
}
@media all and (max-width: 768px) {
	.payments {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}
	.payments__left {
		padding: 0 0 10px;
	}
}
.feedback-block {
	padding: 40px 0 40px;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 0 50px;
}
.feedback-block__title {
	color: #fff;
	margin: 0 0 5px;
}
.feedback-block__title * {
	padding: 0;
	margin: 0;
	color: inherit;
}
.feedback-block__subtitle {
	margin: 0 0 30px;
	font-size: 14px;
}
@media all and (max-width: 480px) {
	.feedback-block {
		padding: 30px 0;
	}
	.feedback-block__title {
		margin: 0 0 15px;
	}
}
.form {
	font-size: 16px;
	line-height: 22px;
}
.form__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 50px;
}
.form__row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -20px;
	margin-right: -20px;
}
.form__row + .form__footnote {
	padding: 40px 0 0;
}
.form__cell {
	margin: 0 20px;
}
.form__cell_3 {
	width: 33.33%;
}
.form__cell_2 {
	width: 50%;
}
.form__input {
	display: block;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	font-family: inherit;
	line-height: 41px;
	height: 42px;
	color: #fff;
	background: none;
}
.form__input::-webkit-input-placeholder {
	opacity: 1;
	color: #fff;
}
.form__input:-moz-placeholder {
	opacity: 1;
	color: #fff;
}
.form__input:-ms-placeholder {
	opacity: 1;
	color: #fff;
}
.form__input::-moz-placeholder {
	opacity: 1;
	color: #fff;
}
.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover,
.form__input:-webkit-autofill:focus,
.form__input:-webkit-autofill:active {
	border: 0px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-text-fill-color: #ffffff;
	font-size: 16px;
	-webkit-box-shadow: 0 0 0px 1000px #1b5773 inset;
	-webkit-transition: background-color 0s ease-in-out 0s;
	-o-transition: background-color 0s ease-in-out 0s;
	-moz-transition: background-color 0s ease-in-out 0s;
	transition: background-color 0s ease-in-out 0s;
}
.form__input.error {
	border-bottom: 1px solid red;
}
.form__select {
	position: relative;
}
.form__select select {
	display: block;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	font-family: inherit;
	line-height: 41px;
	height: 42px;
	color: #fff;
	background: none;
}
.form__select option {
	display: block;
	background: #fff;
	color: #1b5773;
	padding: 3px 10px;
	border: 0;
}
.form__select:before {
	position: absolute;
	top: 50%;
	right: 10px;
	margin: -6px 0 0 0;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	width: 6px;
	height: 6px;
	content: "";
}
.form__footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.form__submit {
	width: 200px;
	margin-right: 30px;
}
.form__left {
	width: 40%;
}
.form__right {
	width: 60%;
	padding-left: 40px;
}
.form__footnote {
	font-size: 11px;
}
.form__footnote a {
	color: inherit;
}
@media all and (max-width: 1100px) {
	.form__row {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.form__cell_2 {
		width: 100%;
	}
	.form__cell_3 {
		width: 100%;
		margin-bottom: 20px;
	}
	.form__row + .form__footnote {
		padding: 10px 0 0;
	}
}
@media all and (max-width: 768px) {
	.form__cell_2 {
		margin-bottom: 10px;
	}
	.form__box {
		display: block;
	}
	.form__left {
		width: 100%;
	}
	.form__right {
		width: 100%;
		padding-left: 0;
	}
}
@media all and (max-width: 480px) {
	.form__box {
		margin: 0 0 30px;
	}
	.form__submit {
		width: 100%;
		margin: 0 0 20px;
	}
	.form__footer {
		display: block;
	}
}
.date-select {
	position: relative;
	width: 100%;
}
.date-select__button {
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 12px 0 2px;
	background: #1b5773;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font-size: 13px;
}
.date-select__button .i-calendar:before {
	vertical-align: middle;
}
.date-select__button span {
	display: inline-block;
	padding: 0 0 0 4px;
}
.calendar {
	display: none;
	position: absolute;
	top: 100%;
	left: 0%;
	background: #fff;
	z-index: 21;
	color: #1b5773;
}
.calendar.active {
	display: block;
}
.kp-treatment {
	padding: 70px 0 50px;
	margin: 0 0 80px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.kp-treatment__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.kp-treatment__left {
	width: 66.66%;
	padding: 0 50px 0 0;
}
.kp-treatment__right {
	width: 33.33%;
}
.kp-treatment__title {
	font-size: 40px;
	line-height: 50px;
	border-bottom: 1px solid #cbdae1;
	padding: 0 0 40px;
	margin: 0 0 40px;
	color: #1b5773;
}
.kp-treatment__cols {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.kp-treatment__col {
	width: 40%;
	font-size: 22px;
	line-height: 32px;
	color: #1b5773;
}
@media all and (max-width: 1100px) {
	.kp-treatment {
		padding: 30px 0 30px;
	}
	.kp-treatment__title {
		padding: 0 0 20px;
		margin: 0 0 20px;
	}
	.kp-treatment__cols {
		display: block;
	}
	.kp-treatment__col {
		width: 100%;
	}
	.kp-treatment__box {
		display: block;
	}
	.kp-treatment__left {
		width: 100%;
		padding: 0 0 30px;
	}
	.kp-treatment__right {
		width: 100%;
	}
}
@media all and (max-width: 768px) {
	.kp-treatment__title {
		font-size: 28px;
		line-height: 34px;
	}
	.kp-treatment__col {
		font-size: 20px;
	}
}
.kp-doctors__title {
	margin: 0 0 10px;
}
.kp-doctors__title * {
	padding: 0;
	margin: 0;
}
.kp-doctors__subtitle {
	color: #868686;
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 40px;
}
.kp-doctors__filter {
	margin: 0 0 40px;
}
.kp-doctors__items {
	position: relative;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}
.kp-doctors__items.sending .kp-doctors__loading {
	display: block;
}
.kp-doctors__loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.85);
	display: none;
}
.m-point {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 4px solid #fff;
	margin: 0 6px 0 0;
	vertical-align: middle;
}
.m-point,
.metro {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.m-point_blue,
.metro_blue {
	background: #1679c0;
}
.m-point_violet,
.metro_violet {
	background: #843bb1;
}
.m-point_orange,
.metro_orange {
	background: #eb9b00;
}
.m-point_green,
.metro_green {
	background: #22a36c;
}
.m-point_lime,
.metro_lime {
	background: #50d62f;
}
.metro {
	position: relative;
	width: 28px;
	height: 28px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin-right: 6px;
}
.metro:before {
	position: absolute;
	top: 50%;
	left: 50%;
	background: url("/local/templates/sm-new/build/prod/src/img/sprite.svg?v=1617871768277") 95.23529% 79.24528% no-repeat;
	width: 17px;
	height: 12px;
	margin: -6px -9px;
	content: "";
}
.doctors-filter__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px 30px 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.doctors-filter__header {
	position: relative;
	font-size: 17px;
	font-weight: bold;
	padding: 0 0 0 34px;
	margin: 0 0 15px;
}
.doctors-filter__header_adult:before {
	background: url("/local/templates/sm-new/build/prod/src/img/sprite.svg?v=1617871768277") 11.81102% 98.91304% no-repeat;
	width: 26px;
	height: 26px;
}
.doctors-filter__header_child:before {
	background: url("/local/templates/sm-new/build/prod/src/img/sprite.svg?v=1617871768277") 32.28346% 98.91304% no-repeat;
	width: 26px;
	height: 26px;
}
.doctors-filter__header:before {
	position: absolute;
	left: 0;
	top: 0px;
	content: "";
}
.doctors-filter__items {
	padding: 0 0 15px;
	width: 45%;
}
.doctors-filter__clinic {
	position: relative;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 4px 10px 5px 30px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.doctors-filter__clinic input {
	display: none;
}
.doctors-filter__clinic:hover {
	text-decoration: underline;
}
.doctors-filter__clinic.active {
	background: #1b5773;
	color: #fff;
	text-decoration: none;
}
.doctors-filter .m-point {
	position: absolute;
	top: 6px;
	left: 6px;
}
@media all and (max-width: 768px) {
	.doctors-filter__items {
		width: 100%;
	}
	.doctors-filter__box {
		padding: 15px 15px;
	}
}
.doctors-slider {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
.doctors-slider .slick-track {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.doctors-slider .slick-slide {
	height: inherit !important;
}
.doctors-slider__slide {
	padding: 0 10px 100px;
}
.doctors-slider__prev {
	left: 0px;
}
.doctors-slider__prev:before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	width: 31px;
	height: 18px;
	margin-top: -9px;
	margin-left: -15px;
	background: url("/local/templates/sm-new/build/prod/src/img/sprite.svg?v=1617871768277") 80.7541% 49% no-repeat;
}
.doctors-slider__next {
	right: 0px;
}
.doctors-slider__next:before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	width: 31px;
	height: 18px;
	margin-top: -9px;
	margin-left: -15px;
	background: url("/local/templates/sm-new/build/prod/src/img/sprite.svg?v=1617871768277") 80.7541% 31% no-repeat;
}
.doctors-slider__prev,
.doctors-slider__next {
	cursor: pointer;
	position: absolute;
	top: 210px;
	width: 50px;
	height: 50px;
	background: #a03339;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.doctors-slider__prev:before,
.doctors-slider__next:before {
	z-index: 1;
}
.doctors-slider__prev.slick-disabled,
.doctors-slider__next.slick-disabled {
	opacity: 0.5;
}
.doctors-slider__prev.slick-hidden,
.doctors-slider__next.slick-hidden {
	display: none !important;
}
.doctors-slider__prev {
	left: -20px;
}
.doctors-slider__next {
	right: -20px;
}
@media all and (max-width: 1200px) {
	.doctors-slider {
		padding: 0 30px;
	}
	.doctors-slider__prev {
		left: 0px;
	}
	.doctors-slider__next {
		right: 0px;
	}
}
@media all and (max-width: 480px) {
	.doctors-slider {
		padding: 0 0px;
	}
	.doctors-slider__slide {
		padding: 0 0 80px;
	}
	.doctors-slider__prev,
	.doctors-slider__next {
		width: 30px;
	}
	.doctors-slider__next:before {
		margin-left: -25px;
	}
	.doctors-slider__prev:before {
		margin-left: -5px;
	}
}
.doctor-card {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	position: relative;
	font-size: 16px;
	line-height: 22px;
	padding: 40px 35px 100px;
	width: 374px;
	margin: 0 auto;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	background: #fff;
	-webkit-box-shadow: 0px 5px 10px rgba(27, 87, 115, 0.15);
	-moz-box-shadow: 0px 5px 10px rgba(27, 87, 115, 0.15);
	box-shadow: 0px 5px 10px rgba(27, 87, 115, 0.15);
}
.doctor-card__image {
	margin: 0 0 20px;
}
.doctor-card__image img {
	display: block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.doctor-card__name {
	font-size: 24px;
	line-height: 36px;
	color: #1b5773;
	margin: 0 0 10px;
}
.doctor-card__spec {
	color: #808183;
	margin: 0 0 30px;
}
.doctor-card__text {
	padding: 0 0 20px;
}
.doctor-card__button {
	position: absolute;
	left: 35px;
	bottom: 40px;
	width: 200px;
}
.doctor-card__metro {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin: 4px 0;
	font-size: 11px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #3f3f3f;
}
@media all and (max-width: 1100px) {
	.doctor-card {
		width: 320px;
		padding: 30px 20px 100px;
	}
	.doctor-card__button {
		left: 20px;
	}
	.doctor-card__text {
		font-size: 14px;
	}
}
@media all and (max-width: 480px) {
	.doctor-card {
		width: 280px;
	}
	.doctor-card__text {
		font-size: 13px;
	}
}
.kp-doctors__filter {
	display: none;
}
.effect-items.flex {
	display: grid;
	gap: 30px 35px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}
.efect-item {
	text-align: center;
}
.efect-item__img {
	width: 64px;
	height: 64px;
	min-width: 64px;
	margin: 0 auto;
}

.efect-item__text {
	padding-top: 10px;
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
}
.efect-item__subtext {
	padding: 30px 0 60px 0; 
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
@media all and (max-width: 480px) {
	.effect-items.flex {
		grid-template-columns: repeat(1, 1fr);
	}
	.efect-item {
		flex-direction: column;
	}
	.efect-item__subtext {
		padding: 30px 0;
	}
}