.page {
	&__item--list {
		padding-left: 20px;
		margin: 10px 0 20px;
	}

	&__item--list li {
		list-style-type: disc;
		margin-bottom: 10px;
	}

	&__item--title {
		font-size: 28px;
		line-height: 38px;
		color: #000;
		font-weight: 700;
		margin-bottom: 15px;
	}

	&__item--text a:hover {
		color: #ad3d8c;
	}

	&__item p {
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.25px;
		color: #000;
		margin-bottom: 25px;
	}

	&__item {
		background: #f3f7f8;
		border-radius: 20px;
		padding: 20px 30px 35px;
		margin-bottom: 32px;
	}

	&__time--icon img {
		margin-right: 42px;
	}

	&__docs {
		display: flex;
		align-items: flex-start;
		margin-top: 35px;
		margin-bottom: 25px;
	}

	&__docs--item {
		display: flex;
		margin-right: 20px;
		align-items: center;
	}

	&__docs--icon {
		width: 42px;
		height: 42px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 17px;
		margin-bottom: -6px;
	}

	&__docs--item span {
		display: block;
		font-size: 12px;
		line-height: 16px;
		color: #ae3d8d;
		margin-top: 6px;
	}

	&__docs--item a {
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		color: #ae3d8d;
		text-decoration: none;
	}

	&__docs--item a:hover {
		font-weight: 700;
		color: #521840;
	}

	a {
		color: #ae3d8d;
		text-decoration: none;
	}

	@media all and (max-width: 650px) {
		&__docs {
			flex-direction: column;
		}

		&__docs--item {
			margin: 0 0 20px 0;
		}
	}

	@media all and (max-width: 480px) {
		&__item--title {
			font-size: 25px;
			line-height: 30px;
		}

		&__item {
			padding: 10px 25px 20px;
			margin-bottom: 20px;
		}

		&__time--icon img {
			margin: 0 0 20px 0;
		}
	}
}
