.photogallery-grid {
	&__items {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
	}

	&__items img {
		width: 100%;
		border-radius: 20px;
	}

	&__items img:hover {
		-webkit-box-shadow: 0 11px 31px 3px rgba(140, 196, 204, 0.47);
		-moz-box-shadow: 0 11px 31px 3px rgba(140, 196, 204, 0.47);
		box-shadow: 0 11px 31px 3px rgba(140, 196, 204, 0.47);
	}

	@media all and (max-width: 1400px) {
		&__items a {
			margin: 0 auto;
		}

		&__items {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media all and (max-width: 1050px) {
		&__items {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media all and (max-width: 768px) {
		padding: 30px 0 20px;

		&__items {
			margin-left: 0;
			margin-right: 0;
		}

		&__items {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media all and (max-width: 480px) {
		&__items {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
