.article-topic {
	margin: 60px 0;

	.slick-track {
		display: -webkit-box !important;
		display: -webkit-flex !important;
		display: -moz-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}

	&__wrap {
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
	}

	&__wrap::before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 13px;
		background: #fff;
		z-index: 5;
		content: '';
	}

	&__wrap::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 13px;
		background: #fff;
		z-index: 5;
		content: '';
	}

	&__slider {
		white-space: nowrap;
		margin: 0 0 40px;
	}

	&__slider.slick-slider {
		white-space: normal;
	}

	&__slide {
		background: #f3f7f8;
		color: black;
		text-decoration: none;
		display: inline-block;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		margin: 0 15px;
		padding: 20px;
		font-weight: normal;
	}

	&__slide:hover {
		background: rgba(225, 242, 246, 0.61);
	}

	&__slide:hover &__title {
		color: #ad3d8c;
	}

	&__item {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-moz-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		height: 440px;
	}

	&__image {
		margin: 0 0 20px;
	}

	&__image img {
		display: block;
		width: 120px;
		height: auto;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	&__title {
		color: #389dac;
		font-size: 16px;
		letter-spacing: 0.25px;
		line-height: 20px;
		font-weight: 600;
		margin: 0 0 15px;
	}

	&__text {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.25px;
		margin: 0 0 10px;
	}

	&__spec {
		font-size: 12px;
		margin: 0 0 15px;
	}

	&__nav {
		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
		height: 60px;
		text-align: center;
		margin: 20px 0;
	}

	&__prev,
	&__next {
		cursor: pointer;
		position: absolute;
		top: 0%;
		width: 60px;
		height: 60px;
		margin: 0 15px 0 15px;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		background: #ae3d8d;
	}

	&__prev::before,
	&__next::before {
		z-index: 1;
	}

	&__prev.slick-disabled,
	&__next.slick-disabled {
		opacity: 0.5;
	}

	&__prev {
		right: 50%;
	}

	&__prev::before {
		position: absolute;
		top: 50%;
		left: 50%;
		content: '';
		width: 18px;
		height: 20px;
		margin-top: -10px;
		margin-left: -10px;
		background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNSAxOCI+PHBhdGggZD0iTTEgNy4yNjhjLTEuMzMzLjc3LTEuMzMzIDIuNjk0IDAgMy40NjRsMTAuNSA2LjA2MmMxLjMzMy43NyAzLS4xOTIgMy0xLjczMlYyLjkzOGMwLTEuNTQtMS42NjctMi41MDItMy0xLjczMkwxIDcuMjY4eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==") 50% 50% no-repeat;
	}

	&__next {
		left: 50%;
	}

	&__next::before {
		position: absolute;
		top: 50%;
		left: 50%;
		content: '';
		width: 18px;
		height: 20px;
		margin-top: -10px;
		margin-left: -7px;
		background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNSAxOCI+PHBhdGggZD0iTTE0IDcuMjY4YzEuMzMzLjc3IDEuMzMzIDIuNjk0IDAgMy40NjRMMy41IDE2Ljc5NGMtMS4zMzMuNzctMy0uMTkyLTMtMS43MzJWMi45MzhjMC0xLjU0IDEuNjY3LTIuNTAyIDMtMS43MzJMMTQgNy4yNjh6IiBmaWxsPSIjZmZmIi8+PC9zdmc+") 50% 50% no-repeat;
	}

	@media all and (max-width: 768px) {
		&__nav {
			height: 40px;
		}

		&__next,
		&__prev {
			width: 40px;
			height: 40px;
		}

		&__slider {
			margin: 0 0 20px;
		}

		&__item {
			height: 100%;
		}
	}

	@media all and (max-width: 560px) {
		&__slide {
			height: auto;
		}
	}
}
