.page__warning {
	&--content {
		background: #fee;
		border-radius: 20px;
		padding: 30px 30px 15px 30px;
		margin: 40px 0 0 0;
		display: flex;
	}

	&--text p {
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		color: #000;
		margin-bottom: 20px;
	}

	&--icon img {
		margin-right: 42px;
	}

	@media all and (max-width: 480px) {
		&--content {
			flex-direction: column;
			align-items: center;
		}

		&--icon img {
			margin: 0 0 20px 0;
		}
	}
}
