.fix-bar {
	position: fixed;
	top: 220px;
	right: 10px;
	width: 210px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: 0px 10px 30px rgba(89, 108, 96, 0.3);
	-moz-box-shadow: 0px 10px 30px rgba(89, 108, 96, 0.3);
	box-shadow: 0px 10px 30px rgba(89, 108, 96, 0.3);
	z-index: 51;
	overflow: hidden;
}

.fix-bar__items {
	padding: 10px 0;
}

.fix-bar__item {
	position: relative;
	display: block;
	text-decoration: none;
	color: #404040;
	padding: 5px 8px 5px 15px;
	font-size: 12px;
	white-space: nowrap;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

.fix-bar__item:hover {
	background: rgba(196, 196, 196, 0.2);
	color: #3C9670;
}

.fix-bar__item:hover svg {
	fill: #3C9670;
}

.fix-bar__item_red {
	color: #EE6365;
	font-weight: bold;
}

.fix-bar__item_red svg {
	fill: #EE6365;
}

.fix-bar__item_red:hover {
	color: #3C9670;
	fill: #3C9670;
}

.fix-bar__line {
	height: 1px;
	width: auto;
	margin: 10px 8px 10px 15px;
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

.fix-bar__cap {
	margin-right: 10px;
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	-moz-transition: 0.2s opacity;
	transition: 0.2s opacity;
}

.fix-bar__cap a {
	display: inline-block;
	margin-right: 8px;
	color: inherit;
}

.fix-bar__cap:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	bottom: 0;
	content: '';
	background-image: -webkit-linear-gradient(to left, white, rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(to left, white, rgba(255, 255, 255, 0));
	background-image: -webkit-gradient(linear, right top, left top, from(white), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0));
	background-image: -moz- oldlinear-gradient(right, white, rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(right, white, rgba(255, 255, 255, 0));
	background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.fix-bar__ico {
	position: absolute;
	top: 50%;
	right: 10px;
	margin: -11px 0 0 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 22px;
	height: 22px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

.fix-bar__ico svg {
	width: 100%;
	height: 100%;
}

@media all and (max-width: 1760px) {
	.fix-bar {
		width: 40px;
	}
	.fix-bar .fix-bar__item {
		padding: 5px 8px;
	}
	.fix-bar .fix-bar__ico {
		right: 8px;
	}
	.fix-bar .fix-bar__cap {
		opacity: 0;
	}
	.fix-bar .fix-bar__line {
		margin: 10px 8px;
	}
	.fix-bar:hover {
		width: 210px;
	}
	.fix-bar:hover .fix-bar__item {
		padding: 5px 8px 5px 15px;
	}
	.fix-bar:hover .fix-bar__ico {
		right: 10px;
	}
	.fix-bar:hover .fix-bar__cap {
		opacity: 1;
	}
	.fix-bar:hover .fix-bar__line {
		margin: 10px 8px 10px 15px;
	}
}

@media all and (max-width: 1400px) {
	.fix-bar {
		opacity: 0.8;
		right: 0;
		-webkit-border-radius: 10px 0 0 10px;
		-moz-border-radius: 10px 0 0 10px;
		border-radius: 10px 0 0 10px;
	}
	.fix-bar:hover {
		opacity: 1;
	}
}

@media all and (max-width: 1150px) {
	.fix-bar {
		display: none;
	}
	.n-header__logo img {
		position: absolute;
		top: 4px;
		width: 280px;
		display: block;
		z-index: 5;
		padding: 1px 7px;
	}
}