.brands-links {
	margin: 50px 0;

	&__items {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		margin: 10px 0 60px;
	}

	&__element {
		background: #f3f7f8;
		text-decoration: none;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	&__element:hover {
		background: #fff;
		-webkit-box-shadow: 1px 4px 27px -2px rgba(54, 164, 180, 0.24);
		-moz-box-shadow: 1px 4px 27px -2px rgba(54, 164, 180, 0.24);
		box-shadow: 1px 4px 27px -2px rgba(54, 164, 180, 0.24);
	}

	&__element:hover &__title {
		color: #ad3d8c;
	}

	&__element:hover &__price {
		background: #f6ebf3;
	}

	&__img {
		width: 100%;
		overflow: hidden;
		text-align: center;
		border-radius: 20px;
		margin-bottom: 20px;
		max-height: 195px;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		img {
			height: 100%;
			width: 100%;
			border-radius: 20px;
		}
	}

	&__title {
		color: #389dac;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: -0.5px;
		margin-bottom: 15px;
		text-align: center;
	}

	&__title a {
		text-decoration: none;
	}

	&__title a:hover {
		color: #ae3d8d;
	}

	&__price {
		background: #fff;
		color: #000;
		padding: 10px;
		width: 100%;
		text-align: center;
		border-radius: 5px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		margin-top: auto;
	}

	&__price a {
		text-decoration: none;
		color: black;
	}

	&__price span {
		font-weight: 700;
		font-size: 24px;
	}

	@media all and (max-width: 1100px) {
		&__items {
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
		}
	}

	@media all and (max-width: 1024px) {
		&__items {
			margin-left: 0;
			margin-right: 0;
		}
	}

	@media all and (max-width: 768px) {
		margin: 30px 0 10px;

		&__items {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media all and (max-width: 590px) {
		&__items {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	@media all and (max-width: 321px) {
		&__title {
			font-size: 18px;
		}
	}
}
