.metro {
	&_blue {
		background: #1679c0;
	}

	&_violet {
		background: #843bb1;
	}

	&_orange {
		background: #eb9b00;
	}

	&_green {
		background: #22a36c;
	}

	&_lime {
		background: #50d62f;
	}

	&_pink {
		background: #ffa8af;
	}
}
