.breadcrumbs {
	width: 100%;
	display: block;
	position: relative;
	margin: 0 auto 5px;
	z-index: 5;
	background: #fff;
	color: #000;
	font-weight: 500;
	font-size: 12px;

	&__wrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		height: 40px;
		width: 100%;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	&__list {
		display: block;
		margin: 0;
		padding: 0;
	}

	&__home {
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
	}

	&__home::before {
		display: none;
	}

	&__item {
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
	}

	&__item:last-child {
		text-decoration: none;
	}

	&__current {
		display: inline-block;
		color: #389dac;
		font-weight: 400s;
	}

	&__current::before {
		display: inline-block;
		margin: 0 5px 0 3px;
		content: '/';
		position: relative;
		font-weight: normal;
	}

	&__link {
		display: block;
		font: inherit;
		color: inherit;
		text-decoration: none;
		vertical-align: middle;
	}

	&__link:hover {
		text-decoration: underline;
	}

	&__link::before {
		display: inline-block;
		margin: 0 5px 0 3px;
		content: '/';
		position: relative;
	}

	&__link_home::before {
		display: none;
	}

	&__current,
	&__home,
	&__item {
		font-size: 16px;
	}

	@media all and (max-width: 768px) {
		&::after,
		&::before {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 15px;
			content: '';
			z-index: 1;
		}

		&::before {
			left: 0;
			background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(white));
			background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), white);
			background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0), white);
			background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white);
		}

		&::after {
			right: 0;
			background-image: -webkit-gradient(linear, right top, left top, from(white), to(rgba(255, 255, 255, 0)));
			background-image: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0));
			background-image: -o-linear-gradient(right, white, rgba(255, 255, 255, 0));
			background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
		}

		&__wrap {
			overflow-x: scroll;
			overflow-y: hidden;
			position: relative;
		}

		.container {
			padding: 0;
		}

		&__list {
			display: block;
			white-space: nowrap;
			position: relative;
			z-index: 0;
			height: auto;
			padding: 20px 15px;
		}

		&__list li {
			display: inline-block;
			position: relative;
			z-index: 1;
		}

		&__list li:last-child {
			padding-right: 15px;
		}
	}

	@media all and (max-width: 768px) {
		&__current,
		&__home,
		&__item {
			font-size: 14px;
		}
	}

	@media all and (max-width: 360px) {
		&__current,
		&__home,
		&__item {
			font-size: 13px;
		}
	}
}
